<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login success</title>
</head>
<body>
    {% extends "base.html" %} {% block body %}
    <h1>Login</h1>
        <form method="post" enctype="multipart/form-data">
            <p>用户名：<input type="text" name="username" value="{{ request.form.username }}"/></p><br/>
            <p>密码：<input type="password" name="password"/></p><br/>
            <input type="submit" name="submit" value="登录">
        </form>
    {% endblock %}
</body>
</html>